/*-----------------Global Styles-----------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
button{
    background-color: #3882F6;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 7px;
    border: none;
    margin-top: 10px;
}
/*-----------------Section one-----------------*/
.section-one{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    height: 500px;
}
.flex-container-head{
    display: flex;
    width: 100%;
}
.flex-header-logo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    height: max-content;
}
.flex-link{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    height: max-content;
}
.header-logo{
    color: #F9FAF8;
    font-size: 24px;
}
.header{
    display: flex;
    justify-content: space-evenly;
    color: #e5E7EB;
    font-size: 18px;
}
.flex-container-body{
    display: flex;
    width: 100%;
    height: 100%;
}
.flex-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    align-items: center;
    margin-left: 400px;
}
.flex-text h1{
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 10px;
    text-align: left;
}
.flex-text p{
    color: #e5E7EB;
    font-size: 18px;
    text-align: left;
}
.flex-image{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    height: max-content;
}
.flex-image img{
    width: 50%;
    height: 100%;
}
/*-----------------Section two-----------------*/
#flex-container-sec2{
    display: flex;
    width: 60%;
    margin: 10px auto;
    flex-direction: column;
    align-items: center;
}
#info-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 30px;
}
.emptyspace{
    margin-top: 50px;
    background-color: #fff;
    width: 200px;
    height: 200px;
    border: 4px solid blue;
    border-radius: 20px;
    margin-left: 16%;
    margin-bottom: 20px;
}
.row-wrapper{
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
}
.row-wrapper p{
    font-size: 18px;
    text-align: center;
}
/*-----------------Section three-----------------*/
#flex-container-sec3{
    background-color: #E5E7EB;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}
.quote-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    font-weight: lighter;
    font-size: 36px;
    font-style: italic;
}
.quote-body span{
    margin-top: 12px;
    font-size: 20px;
    margin-left: 200px;
    font-weight: 600;
    font-style: normal;
}
/*-----------------Section four-----------------*/
#flex-container-sec4{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-block{
    width: 60%;
    height: 150px;
    background-color: #3882F6;
    display: flex;
    border-radius: 10px;
}
.cta-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 200px;
    color: white;
}
.cta-button{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.cta-button button{
    border: 2px solid #fff;
}
.cta-button button:hover{
    cursor: pointer;
}
/*----------------- Footer -----------------*/
footer{
    height: 100px;
    background-color: #1F2937;
    color: #fff;
    text-align: center;
    padding-top: 40px;
}