/*-----------------Global Styles-----------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    background-color: #3882F6;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 7px;
    border: none;
    margin-top: 10px;
}
/*-----------------Section one-----------------*/
.section-one{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    height: 500px;
}
.flex-container-head{
    display: flex;
    width: 100%;
}
.flex-header-logo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    height: max-content;
}
.flex-link{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    height: max-content;
}
.header-logo{
    color: #F9FAF8;
    font-size: 24px;
}
.header{
    display: flex;
    justify-content: space-evenly;
    color: #e5E7EB;
    font-size: 18px;
}
.flex-container-body{
    display: flex;
    width: 100%;
    height: 100%;
}
.flex-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    align-items: center;
    margin-left: 400px;
}
.flex-text h1{
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 10px;
    text-align: left;
}
.flex-text p{
    color: #e5E7EB;
    font-size: 18px;
    text-align: left;
}
.flex-image{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    height: max-content;
}
.flex-image img{
    width: 50%;
    height: 100%;
}
/*-----------------Section two-----------------*/
